.container{
  /* display: flex; */
}
.double{
  /* display: flex; */
  /* flex:1; */
  min-width: 100%;
  min-height: 60%;
}
.jitsi{
  /* flex: auto; */

}
.hivemind{
/* flex: 2; */
min-width: 100%;
min-height: 40%;
}
.sketchbook{
/* flex: auto; */
}
